<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.muhtamimnahid.doctorapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.INTERNET"
        tools:node="remove" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".Activity_Main_Appointment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Patient_DoctorProfileActivity"
            android:parentActivityName=".Activity_Main_Appointment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Patient_RegistrationActivity"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Patient_BookAppointmentActivity"
            android:parentActivityName=".Patient_DoctorProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Patient_ShowBookedAppointmentActivity"
            android:parentActivityName=".Activity_Main_Appointment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Doctor_ProfileActivity"
            android:parentActivityName=".Activity_Main_Appointment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Doctor_EditProfileActivity"
            android:parentActivityName=".Doctor_ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Doctor_ShowAppointmentActivity"
            android:parentActivityName=".Activity_Main_Appointment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Forgot_PasswordActivity"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeedbackActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Activity_Main_Appointment"
            android:screenOrientation="portrait" />
        <activity android:name=".ArticalFitnes" />
        <activity android:name=".ArticalBaby" />
        <activity android:name=".ArticalWomens" />
        <activity android:name=".ArticalHealth" />
        <activity android:name=".ArticalFood" />
        <activity
            android:name=".Advise"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".hopelessMainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Articale_Home"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Activity_Main"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/pdf" />
            </intent-filter>
            <intent-filter>
                <action android:name="pdf_openFolder" />
            </intent-filter>
        </activity>
        <activity
            android:name=".helper.Activity_Editor"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".helper.Activity_Settings"
            android:launchMode="singleInstance" />
        <activity
            android:name=".sample.MainActivitytrack"
            android:launchMode="singleInstance" />
        <activity
            android:name=".sample.CropResultActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".CropImageActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".helper.Activity_intro"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.muhtamimnahid.doctorapp.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".SelfTest"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" ></activity>
        <activity android:name=".UddakMainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" ></activity>
        <activity android:name=".bisonnotaMainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" ></activity>

    </application>

</manifest>